---
title: "Australian Adventures"
layout: splash
permalink: /travel/
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.05"
  overlay_image: "/images/splash/harbor.jpg"
  actions:
    - label: "Posts"
      url: "travel/blog/"
excerpt: "Look forward to (Hopefully!) weekly updates about my trips and experiences abroad!"
feature_row2:
  - image_path: "images/splash/newcastle.jpg"
    alt: "placeholder image 2"
    title: "Newcastle, AU"
    excerpt: 'This wonderful city will be my home turf until July! I look forward to exploring everything it has to offer!'
    url: "https://www.australia.com/en-my/places/sydney-and-surrounds/locals-guide-to-newcastle.html"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: "images/splash/uon.jpg"
    alt: "placeholder image 2"
    title: "University of Newcastle"
    excerpt: 'The university will hopefully be giving me great oppourtunities to meet locals and other international students in addition to guided trips inland. It feels like starting college all over again! My semester starts on Feb 18 with an orientation!'
    url: "https://www.newcastle.edu.au/about-uon/our-university"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: "images/splash/inthouse.jpg"
    alt: "placeholder image 2"
    title: "International House"
    excerpt: 'I will be living alongside 4-5 other international students abnd/or locals for most of my stay. I will be cooking for myself too!'
    url: "https://www.newcastle.edu.au/future-students/study-at-uon/accommodation-options/uon-student-living/where-can-i-live/colleges/international-house"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}