---
title: "Australian Adventures"
layout: splash
permalink: /travel/
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.05"
  overlay_image: "/images/splash/harbor.jpg"
  actions:
    - label: "Posts"
      url: "travel/blog/"
excerpt: "Weekly Updates about my trips and experiences abroad!"
feature_row2:
  - image_path: "images/splash/newcastle.jpg"
    alt: "placeholder image 2"
    title: "Newcastle, AU"
    excerpt: 'My base of operations for my time in Australia.'
    url: "https://www.visitnewcastle.com.au/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: "images/splash/uon.jpg"
    alt: "placeholder image 2"
    title: "University of Newcastle"
    excerpt: 'Where I will be taking all of my classes during the spring semester.'
    url: "https://www.newcastle.edu.au/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: "images/splash/inthouse.jpg"
    alt: "placeholder image 2"
    title: "International House"
    excerpt: 'Where I will be staying for the next 6 months!'
    url: "https://www.newcastle.edu.au/future-students/study-at-uon/accommodation-options/uon-student-living/where-can-i-live/colleges/international-house"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}